extends ./layout/default.jade

block variable
    - var chapter_num = "5.9"
    - var chapter_title_en = "A name from long ago..."
    - var chapter_title_cn = "名字的由來？（感覺要結合context意譯）"


block title
    title MGS #{chapter_num} - #{chapter_title_en} (#{chapter_title_cn})

block container
    h2.title.title-en
        span.title-num #{chapter_num}
        strong.title-en
            | #{chapter_title_en}
        strong.title-cn
            | #{chapter_title_cn}



    .section
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Liquid!!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Snake, did you like my sunglasses? You'd point a weapon at your own brother?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Why did you disguise yourself as Master?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | So I could manipulate you more easily. And you performed quite well I must say. Although the boys at the Pentagon are probably saying the same thing...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What the hell are you talking about!?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Following orders blindly with no questions asked. You've lost your warrior's pride and become nothing more than a pawn, Snake.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Stopping the nuclear launch, rescuing the hostages... It was all just a diversion.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | A diversion?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | The Pentagon only needed for you to come into contact with us. That's what killed the ArmsTech president and Decoy Octopus.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | You don't mean...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | That's right. You were sent in here to kill us so they could retrieve Metal Gear undamaged along with the bodies of the genome soldiers. From the beginning, the Pentagon was just using you as a vector to spread FoxDie!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Fox Die! ...It can't be! Are you telling me Naomi was working with the Pentagon?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | They thought she was. But it seems that Dr. Naomi Hunter couldn't be controlled so easily.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | We've got a spy working in the Pentagon. He reported that Dr. Hunter altered FoxDie's program just before the operation. But...no one knows how or why.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | I wonder... maybe they arrested her so they could find out the answer to that.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | No doubt. But I had no idea she was motivated by such petty revenge... we still don't know what changes she made to FoxDie's program. Oh well. It doesn't matter. I've already added the FoxDie vaccine to my list of White House demands.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | There's a vaccine?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | There must be. But that woman is the only one who really knows. Anyway, it might prove to be unnecessary.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Why is that?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | You were successful in coming into contact with all of us, so we must have all been exposed to the virus. It's true that the ArmsTech president and Decoy Octopus were killed by FoxDie... But Ocelot, myself, and you, the carrier, were apparently unaffected.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | A bug in the virus' programming?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Hmm, could be. In any case, if it doesn't kill you then I'm not worried either. After all, our genetic code is identical.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | So it's true...you and I are...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Yes, twins, but we're not ordinary twins... we're twins linked by cursed genes. Les enfants terribles. You're fine. You got all the old man's dominant genes. I got all the flawed, recessive genes. Everything was done so that you would be the greatest of his children. The only reason I exist is so they could create you.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | I was the favorite, huh.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | That's right! I'm just the leftovers of what they used to make you. Can you understand what it's like to know that you're garbage since the day you were born!? But...I'm the one father chose.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | ...So that's why you're so obsessed with Big Boss. Some warped kind of love.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Love!? It's hate!! He always told me I was inferior and now I'll have my revenge!! You should understand me, brother. You killed our father with your own hands! You stole my chance for revenge! Now I'll finish the work that father began. I will surpass him... I will destroy him!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | You're just like Naomi.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Well I'm not like you. Unlike you, I'm proud of the destiny that is encoded into my very genes. Yeah! (Liqud hops into Rex's ockpit.)
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Damn!!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Snake! Your blood will be the first to be spilt by this glorious new weapon. Consider it an honor... a gift from your brother. Now, I'll show you! The power of the weapon that will lead us in the 21st century!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | It's moving...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | How do I stop it?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Did that do it!? Damn!!!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Nice try, Snake! Die!! (Liquid moves in to crush Snake but Grey Fox leaps out of nowhere and holds up Rex's foot while Snake moves away.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-fox
                | Fox
                span :
            p.msg.msg-en
                | Hurry! Get away!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Gray Fox!!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-fox
                | Fox
                span :
            p.msg.msg-en
                | A name from long ago. It sounds better than Deepthroat.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | So it is you!?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-fox
                | Fox
                span :
            p.msg.msg-en
                | You look terrible, Snake. You haven't aged well.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | I'll send you back to hell! (Fox leaps away and fires a few shots into the Radome.  He lands calmly behind the box where Snake is taking cover.)
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Fox, why!? What do you want from me!?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-fox
                | Fox
                span :
            p.msg.msg-en
                | I'm a prisoner of Death. Only you can free me...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Fox, stay out of this... What about Naomi? She's hell bent on taking revenge for you.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-fox
                | Fox
                span :
            p.msg.msg-en
                | Naomi...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | You're the only one who can stop her.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-fox
                | Fox
                span :
            p.msg.msg-en
                | No...I can't.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Why?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-fox
                | Fox
                span :
            p.msg.msg-en
                | Because I'm the one who killed her parents. I was young then and couldn't bring myself to kill her too. I felt so bad that I decided to take her with me. I raised her like she was my own blood to soothe my guilty conscience. Even now she thinks of me as her brother...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Fox...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-fox
                | Fox
                span :
            p.msg.msg-en
                | From the outside, we might have seemed like a happy brother and sister. But every time I looked at her, I saw her parents' eyes staring back at me... Tell her for me. Tell her that I was the one who did it. (Liquid spots the two behind the box and tries to shoot them.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | There you are!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-fox
                | Fox
                span :
            p.msg.msg-en
                | We're just about out of time. Here's a final present from Deepthroat. I'll stop it from moving!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Fox! (Fox dashes out from behind the box and heads straight for Rex.  Liquid spots him and fires the rail gun at him.  Fox leaps up into the air but Liquid reacts quickly to this.  He sweeps the laser up into the air and it connects with Fox's arm.  It is severed but this seems to have no effect on Fox. He quickly moves to a high vantadge point on the wall, readies his gun, and is pinned against the wall by Rex's nose.  Liquid begins to taunt him.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | In the Middle East, we don't hunt foxes, we hunt jackals. Instead of foxhounds, we use royal harriers.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Fox!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | How strong is that exoskeleton of yours?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Snake, are you just going to sit by and watch him die? (Fox summons his last bit of strength and fires as many shots as he can into the radome of Rex.  It is destroyed.  Liquid is forced to open up the cockpit now.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-fox
                | Fox
                span :
            p.msg.msg-en
                | A cornered fox is more dangerous than a jackal!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | He destroyed the radome...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Impressive. You are indeed worthy of the codename "Fox"! But now you're finished!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-fox
                | Fox
                span :
            p.msg.msg-en
                | Uuunnggh!! .....Now! Fire the Stinger!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Fox!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Can you really shoot? You'll kill him too!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-fox
                | Fox
                span :
            p.msg.msg-en
                | Now in front of you. I can finally die. After Zanzibar, I was taken from the battle neither truly alive nor truly dead... an undying shadow in the world of lights. But soon... soon. It will finally... end. (Liquid drags Fox off of his perch and lets him fall to the ground.  He tries to crush him once more.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Die! (Fox is now clinging onto himself.  His exoskeleton will break in a matter of moments.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-fox
                | Fox
                span :
            p.msg.msg-en
                | Snake, we're not tools of the government or anyone else! Fighting was the only thing... the only thing I was good at, but... At least I always fought for what I believed in... Snake... farewell. (Liquid applies all the weaight he van on top of Fox.  His exoskeleton gives out and he is crushed.)
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Fooooooox!!!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Foolish man. He prayed for death... and it found him. You see? You can't protect anyone!! Not even yourself! Die!! (Snake battles rex one last time and succedes in firing a missile into Rex's cockpit.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Snake, I'll crush you into dust!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Ooooh! Uuuuff! (Rex suddenly blows up and Snake is thrown against the wall by the explosion. He is unconscious.  Moments later we see Liquid approaching casually.  The screen goes dark.)
                | (Snake reawakens on the head of Rex.  Liquid apparently dragged him up there.)

