extends ./layout/default.jade

block variable
    - var chapter_num = "11"
    - var chapter_title_en = "Escape"
    - var chapter_title_cn = "逃亡"


block title
    title MGS #{chapter_num} - #{chapter_title_en} (#{chapter_title_cn})

block container
    h2.title.title-en
        span.title-num #{chapter_num}
        strong.title-en
            | #{chapter_title_en}
        strong.title-cn
            | #{chapter_title_cn}

    .section
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Snaaaaaaaaake!!! (Snake runs over to Meryl lying down.)
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Meryl?  ....Meryl?   Meeeeryyyyylll! (Meryl's head falls over when Snake lifts her up.  She is dead.)
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Forgive me.  Damn!  I gave into my fear.  I gave into my pain.  I sold your life to save my oen...  I'm a loser.  I'm not the hero you thought I was.  I'm nothing!  Meryl, I'm sorry!  Forgive me. (Otacon approaches.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Meryl can't forgive anyone anymore.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Otacon?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | She's gone, Snake.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | ...Because of me....
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | I guess blaming yourself makes it easier, huh?  If you do that, you can keep the pain at a nice, safe distance.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What the hell do you know?  Meryl's dead.  I lost.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | So, are you going to stay here and die?  Along with her?  Snake, people die.... But death is not defeat.  That's what Hemmingway said.  I lost Wolf too.  But that wasn't defeat.  She and I will be together forever.  We didn't lose anything.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Together forever?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | It's true that Wolf is dead.... but our love didn't die with her. Life's more than just a game of win or lose.  Don't you think? Let's live, Snake.  There's a parking garage right next door.  We can get to the surface from there.  C'mon.  I released all the security locks.  It'll be okay.  We can excape.... You have my word on it.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Otacon... you've changed.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | I'm through regreting the past...  Life isn't all about loss y'know. (The building begins to shake.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | It's started!  Those guys.... seems like they only hurry when they're destroying things.  Good.  let 'em destroy it.  But they can't destroy the human spirit.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Okay.  Let's go!  Meryl, I hope you're still watching me.  Maybe I can prove myself to you after all. (Snake and Otacon start to leave.)
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | C'mon, hustle!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Snake, it's cold outside.  You'll freeze like that. (Snake spots his sneaking suit on the ground beneath Rex.)
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | My sneaking suit!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | You better hurry...  Hurry! (Snake puts on his sneaking suit.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Now you look like yourself again. (As they dash outside, Snake takes one last look at Meryl.) (Snake and Otacon escape to the outside but are followed by Liquid.  After a brief gun-fire exchange they emerge into sunlight and both jeeps crash. Snake and Otacon are both pinned under the jeep.)
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Otacon, are you okay?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | I guess so....
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Otacon, can you move?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | It's no use.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What happened to Liquid?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | I don't know, but I hope he's dead.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Liquid is dead... Uh oh! (There is a noise by the other jeep and Liquid comes out from behind it.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Snake! (Liquid points his FA-MAS at Snake's head but he doesn't fire.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | ...Snaaaake... Fo... Fox...? (Liquid falls to the ground, dead.)
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | If he's dead, that means....
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Don't think about it, Snake.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What happened to the air raid? No stealth bombers in sight. (Snake calls Campbell on the Codec.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Snake, can you hear me?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Colonel!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Are you okay?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Colonel, what happened?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | The Secretary of Defense has been arrested. Early retirement.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Arrested?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | I was able to get into contact with the President. Metal Gear, the training exercise...all of it...it was all the Secretary of Defense acting alone.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Acting alone? What happened to the air raid and the nuclear strike?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | The orders were rescinded. The F117s and the B2 Spirits have returned to the base. Once again, I have complete authority over this operation.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | I see...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Washington isn't stupid enough to use nukes to cover up a few secrets.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | I wonder about that.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | In any case, the danger's over... Thanks, Snake.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Colonel, about Meryl...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | I already know.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | ..... Colonel
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Meryl was my daughter....
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What!?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | I didn't find out until recently.  I got a letter from her mother... my dead brother's wife... I was going to tell her after this operation was over.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Colonel, I....
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | It's okay, Snake.  Thanks anyway. Snake, I'm sorry I... I kept a lot of things from you.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | It's okay, Colonel.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Snake, I'm not a Colonel.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Oh that's right.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | I've got a present for you. There's a snowmobile close to you. Mei Ling saw it on the satellite photos. This time of the year the glaciers are pretty calm. You should be able to ride right out of there. I'll bet the boys at the DIA and the NSA never expected you to come home alive.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Me neither. I better not show my face around here.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | No danger of that. You two officially died after your jeep sank into the ocean...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | That's not too far from the truth.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Also there's a helicopter waiting for you on Fox Island.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Okay, Roy. Are you going to be okay?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Don't worry. I've got an insurance policy... a hard copy of all Mei Ling's data. As long as I've got that, you, me and Mei Ling will be fine.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | The battery on these nanomachines will run out soon. They won't be able to follow us.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | I guess we won't meet again.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Don't worry. I'll pay you a visit sometime.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Really? I'll look forward to that.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Roy, just tell me one thing.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | What?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | About Fox Die.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Meryl will be fine. She wasn't included in its programming.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What about me? It killed Liquid...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Naomi said that she wants to talk to you face to face about that.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | How is she?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Don't worry. Mei Ling's with her right now. I'm switching over to Naomi.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | Snake, it's me...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Naomi...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | I heard...about my brother...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | I'm sorry... but he had one last message he wanted to say to you. He told me to tell you to forget about him and to go on with your own life.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | Frankie said that?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Yeah. He also said he'll always love you... Naomi, your brother just saved you, me and the whole world. He fought with every ounce of strength in his body.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | Maybe... maybe now he's finally found some peace. He wasn't really my brother anymore... Ever since he fought with you in Zanzibar he's been like a ghost. A ghost looking for a place to die...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Naomi, Liquid died from Fox Die too. What about me? When am I gonna go?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | That's up to you.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What do you mean?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | Everybody dies when their time's up...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Yeah, so when's mine up?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | It's up to you how you use the time left to you. Live, Snake. That's all I can say to you.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | .......... (Snake and Meryl begin to walk down towards the snowmobile.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | Each person is born with their fate written into their own genetic code... it's unchangeable, immutable... But that's not all there is to life. I finally realized that. I told you before. The reason that I was interested in genes and DNA. Because I wanted to know who I was... where I came from. I thought that if I analyzed my DNA I could find out who I was, who my parents were. And I thought that if I knew that, then I'd know what path I should take in life. But I was wrong. I didn't find anything. I didn't learn anything. Just like with the Genome Soldiers... you can input all the genetic information, but that doesn't make them into the strongest soldiers. The most we can say about DNA is that it governs a person's potential strengths... potential destiny. You mustn't allow yourself to be chained to fate... to be ruled by your genes. Humans can choose the type of life they want to live. Snake, whether or not you're in the FoxDie program isn't important. The important thing is that you choose life... And then live! Don't you think, Snake? Don't worry.  I'm going to choose life too. Until today, I've always looked for a reason to live. But from here on, I'm going to just live. Genes exist to pass down our hopes and dreams for the future through our children. Living is a link to the future. That's how all life works. Loving each other, teaching each other... that's how we can change the world. I finally realized it. The true meaning of life... Thank you, Snake. (Snake finds the snowmobile and pushes it out into the open.)
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Until today, I've lived only for myself.  Survival has been the only thing I cared about in my life.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | That's not just you.  That's how everyone is.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | I only felt truly alive when I was staring Death in the face.  I don't know, maybe it's written into my genes.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | What about now?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | I want to enjoy life.  I really do.  How about you, Otacon?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Me?  I feel like a new man.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | So what are you going to do?  Continue your research?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | No, I'm finished with science...  I'm interested in human psychology            now.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Sounds good...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | The whole reason I got into science in the first place was because I was no good with people.  I was scared of them.  I was scared of life.  I thought that I could never understand them because they're so illogical.  But I've finally learned how to like people.  I'm not afraid anymore.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | You and I are more alike than I thought...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | I'm just tired of always being a spectator in life.  I'm ready to live.  I'm gonna stand on my own two feet.  I'm not gonna hide anymore.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | You're giving up your stealth camo?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Huh? Oh yeah... You can have it. (Otacon hands his Stealth Camouflage to snake.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | ...So, this is where we say goodbye to our loves as well... Want me to drive?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | No thanks.  I'd rather do it myself.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | No problem. Where to, Snake?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | My real name is David, Otacon.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | I'm Hal, Dave.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Oh, that's right... Hal.  Hal and Dave?  That's a good one.  Ha ha ha ha ha... Maybe we should take a trip to Jupiter...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | So where are you going, Dave?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Hmmm. I think it's time for me to look for a new path in life.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | A new path?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | A new purpose.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Will you find it?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | I'll find it.  I know I'll find it. (Snake starts up the snowmobile and they ride off into the sunset.) (The credits are shown.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | You mustn?t allowed yourself to be chained to fate... to be ruled by our genes. Humans can choose the type of life they want to live. The important thing is that you choose life... And then... live! (The screen fades to black.  We can hear Ocelot talking to somebody over a telephone or radio.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-ocelot
                | Ocelot
                span :
            p.msg.msg-en
                | Yes sir.  The entire unit was wiped out.  Those two are still alive.  The vector?  Yes sir.  FoxDie should become activated soon... Right on schedule. Yes sir.  I recovered all of Rex's dummy warhead data.  ...No sir. My cover is intact.  Nobody knows who I really am.  Yes the DARPA Chief knew my identity but he's been disposed of. Yes.  Thank you.  Good-bye.  Mr. President.
            h3  THE END
            h3  T H E   M E R Y L   E N D I N G
            p
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Snaaaaaaaaake!!!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Meryl? Meryl!?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | Uh, Uh, uhnnn... Snake? Is that you? Snake! You're alive! Thank God!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Meryl? Meryl, are you okay?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | Are you okay... Is that all you can say?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Meryl, it must have been terrible...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | It wasn't that bad. I didn't give in to the torture.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Torture?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | ...And things even worse than that... I was fighting too. Just like you.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | You're a strong woman.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | Fighting them... made me feel closer to you. I felt like you were there with me. It gave me the strength to go on. But I was scared.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | ...I'm sorry.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | Don't say that... But it made me realize something. During all the pain and shame there was one thing I was sure of... a single hope that I held onto... And that hope kept me alive... Snake, I wanted to see you again... (Otacon calls on the Codec.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Snake, it's me.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Otacon, good news! Meryl's okay.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | All right!!! You saved her, man. Good job!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | I got some bad news too. We're about to be bombed.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Oh boy. I guess we're considered expendable.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Is there a way out of here?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | A way out? ...Uh, yeah. You can take the loading tunnel to the surface. There's a parking garage right next to you. The tunnel leads from there to the surface.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | The door in front?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | No. It's a small entrance to the west of that door.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | How about the security?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | I just unlocked it. Who do you think you're talking to? I'll take care of security along your escape route too...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What are you going to do?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Me? I... I'll stay here.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Are you crazy!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | I need a little more time to take care of your escape route.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | But...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Unlocking the security doors is difficult work. Only I can do it.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Otacon?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Don't worry. I'm staying here. It's my own decision.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Otacon, this is a hardened shelter, but they're going to use a surface piercing nuclear bomb. It won't hold.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | I'm through regretting the past... Life isn't all about loss, y'know...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | ........
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Snake, I'm a complete person now. I've found a reason to live.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Good. Don't die on me.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Same to you.  Take care of Meryl, okay.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | I will...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Okay I gotta go. I promise I'll do something about your escape route.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Thanks.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | "Thanks"... oh, that sounds nice.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | ...I believe in you.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Thanks, Snake.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Let's get the hell out of here.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | ...What about him...? Where is Otacon!?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | He's... He's... fighting right now... With his old self... to be the man he wants to be.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | He's fighting for us too?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Yeah, and I don't want it to be in vain.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | ...Me too.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Meryl.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | ...Snake.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Meryl. It's started...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | I must be heavy...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | It looks like we're not gonna have a love scene after all.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | Looks that way. Too bad...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Let's get out of here!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | Snake, it's freezing outside. You need some clothes.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | There's my Sneaking Suit!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | Hurry up. Hurry! Hmm... Looking good, Snake.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Meryl, are you okay?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | ...Yeah, just a little shook up.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Meryl, can you move?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | It's no good. I can't move.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What happened to Liquid?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | I can't see him either...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Liquid is dead... Uh oh! (There is a noise by the other jeep and Liquid comes out from behind it.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Snake! (Liquid points his FA-MAS at Snake's head but he doesn't fire.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | ...Snaaaake... Fo... Fox...? (Liquid falls to the ground, dead.)
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Die... If he's dead, that means...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | Don't say it, Snake.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What happened to the air raid? No Stealth bombers in sight.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Snake, can you hear me?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Colonel!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Are you okay?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Colonel, what happened?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | The Secretary of Defense has been arrested. Early retirement.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Arrested?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | I was able to get into contact with the President. Metal Gear, the training exercise...all of it...it was all the Secretary of Defense acting alone.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Acting alone? What happened to the air raid and the nuclear strike?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | The orders were rescinded. The F117s and the B2 Spirits have returned to the base. Once again, I have complete authority over this operation.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | I see...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Washington isn't stupid enough to use nukes to cover up a few secrets.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | I wonder about that.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | In any case, the danger's over... Thanks, Snake.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Colonel, you can rest easy. Meryl's fine.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Really? Thanks... Thank you, Snake.  Snake, I'm sorry I... I kept a lot of things from you.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | It's okay, Colonel.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Snake, I'm not a Colonel.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Oh that's right.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | I've got a present for you. There's a snowmobile close to you. Mei Ling saw it on the satellite photos. This time of the year the glaciers are pretty calm. You should be able to ride right out of there. I'll bet the boys at the DIA and the NSA never expected you to come home alive.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Me neither. I better not show my face around here.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | No danger of that. You two officially died after your jeep sank into the ocean...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | That's not too far from the truth.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Also there's a helicopter waiting for you on Fox Island.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Dr. Hal Emmerich should be somewhere on the base. I want someone to bring him in.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | I understand. Leave it to me.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Okay, Roy. Are you going to be okay?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Don't worry. I've got an insurance policy... a hard copy of all Mei Ling's data. As long as I've got that, you, me and Mei Ling will be fine.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | The battery on these nanomachines will run out soon. They won't be able to follow us.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | I guess we won't meet again.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Don't worry. I'll pay you a visit sometime.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Really? I'll look forward to that.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Roy, just tell me one thing.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | What?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | About Fox Die.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Meryl will be fine. She wasn't included in its programming.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What about me? It killed Liquid...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Naomi said that she wants to talk to you face to face about that.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | How is she?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Don't worry. Mei Ling's with her right now. I'm switching over to  Naomi.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | Snake, it's me...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Naomi...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | I heard...about my brother...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | I'm sorry... but he had one last message he wanted to say to you. He told me to tell you to forget about him and to go on with your own life.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | Frankie said that?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Yeah. He also said he'll always love you... Naomi, your brother just saved you, me and the whole world. He fought with every ounce of strength in his body.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | Maybe... maybe now he's finally found some peace. He wasn't really my brother anymore... Ever since he fought with you in Zanzibar he's been like a ghost. A ghost looking for a place to die...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Naomi, Liquid died from Fox Die too. What about me? When am I gonna go?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | That's up to you.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What do you mean?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | Everybody dies when their time's up...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Yeah, so when's mine up?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | It's up to you how you use the time left to you. Live, Snake.  That's all I can say to you.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | .......... (Snake and Meryl begin to walk down towards the snowmobile.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | Each person is born with their fate written into their own genetic code... it's unchangeable, immutable... But that's not all there is to life. I finally realized that. I told you before. The reason that I was interested in genes and DNA. Because I wanted to know who I was... where I came from. I thought that if I analyzed my DNA I could find out who I was, who my parents were. And I thought that if I knew that, then I'd know what path I should take in life. But I was wrong. I didn't find anything. I didn't learn anything. Just like with the Genome Soldiers... you can input all the genetic information, but that doesn't make them into the strongest soldiers. The most we can say about DNA is that it governs a person's potential strengths... potential destiny. You mustn't allow yourself to be chained to fate... to be ruled by your genes. Humans can choose the type of life they want to live. Snake, whether or not you're in the FoxDie program isn't important. The important thing is that you choose life... And then live! Don't you think, Snake? Don't worry.  I'm going to choose life too. Until today, I've always looked for a reason to live. But from here on, I'm going to just live. Genes exist to pass down our hopes and dreams for the future through our children. Living is a link to the future. That's how all life works. Loving each other, teaching each other... that's how we can change the world. I finally realized it. The true meaning of life... Thank you, Snake. (Snake finds the snowmobile and pushes it out into the open.  When they get on it Meryl hands Snake a bandana.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | Look. I found this.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Let's keep it. As a reminder.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | Of what? A reminder of a successful mission or the first time we met?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | A reminder of how to live. Until today, I've lived only for myself. Survival has been the only thing I cared about in my life.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | That's not just you. That's how everyone is.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | I only felt truly alive when I was staring Death in the face. I don't know, maybe it's written into my genes.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | What about now? What do your genes say about your future now?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Maybe it's time I live for someone else.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | Someone else?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Yeah. Someone like you... Maybe that's the real way to live.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | So...where to, Snake?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | David. My name is David...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | Okay, so where to, Dave?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Hmmm. I think it's time we look for a new path in life.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | A new path?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | A new purpose.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | Will we find it?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | We'll find it. I know we'll find it. (Meryl spots an animal out on the ice.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | What are those?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Caribou. To the Aleutians, the Caribou is a symbol of life. It'll be spring here soon...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | For us too...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Yeah. Spring brings new life to everything. It's a time for hope. I've lived here a long time... But Alaska has never looked more beautiful. The sky... the sea... the caribou... and most of all... You...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-meryl
                | Meryl
                span :
            p.msg.msg-en
                | I think I'm gonna like this new life...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | C'mon. Let's enjoy life... (Snake and Meryl ride off into the sunset.) (The credits are shown.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | You mustn?t allowed yourself to be chained to fate... to be ruled by our genes. Humans can choose the type of life they want to live. The important thing is that you choose life... And then... live! (The screen fades to black.  We can hear Ocelot talking to somebody over a telephone or radio.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-ocelot
                | Ocelot
                span :
            p.msg.msg-en
                | Yes sir. The entire unit was wiped out. Those two are still alive. The vector? Yes sir, FoxDie should become activated soon... Right on schedule. Yes, sir. I recovered all of Rex's dummy warhead data. ...No, sir. My cover is intact. Nobody knows who I really am. Yes, the DARPA Chief knew my identity, but he's been disposed of. Yes. The inferior one was the winner after all. ...That's right. Until the very end, Liquid thought he was the inferior one. Yes, sir. I agree completely. It takes a well-balanced individual... such as yourself to rule the world. No, sir.  No one knows that you were the third one... Solidus. ...What should I do about the woman? Yes sir. I'll keep her under surveillance. Yes. Thank you. Good-bye. Mr. President.
            p.msg.msg-cn
                | NULL
