extends ./layout/default.jade

block variable
    - var chapter_num = "06"
    - var chapter_title_en = "Love on the Battlefield"
    - var chapter_title_cn = "戰場之愛"


block title
    title MGS #{chapter_num} - #{chapter_title_en} (#{chapter_title_cn})

block container
    h2.title.title-en
        span.title-num #{chapter_num}
        strong.title-en
            | #{chapter_title_en}
        strong.title-cn
            | #{chapter_title_cn}

    .section
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Snake!! Are you okay!?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Otacon! Were there any other stealth prototypes?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | No. There were only five.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | So...this isn't stealth camouflage then...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | What are you talking about?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Someone's aiming at me... in the middle of this blizzard...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | ...It's her!!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Wolf? ...Sniper Wolf?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Yes it's her! ...It's definitely her!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Otacon... You sound like you're happy.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | No I'm not.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | So then what is it?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Snake... please don't kill her!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Are you insane!?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Please. She's a good person! You'd know that if you talked to her...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Listen to me, kid. She's a merciless killer.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-wolf
                | Wolf
                span :
            p.msg.msg-en
                | I can see you perfectly from here.  I told you... I'd never quit the hunt. Now you're mine.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Wolf! No, you can't!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-wolf
                | Wolf
                span :
            p.msg.msg-en
                | Don't get between a wolf and its prey!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | You're pretty good if you can hit me in this storm.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-wolf
                | Wolf
                span :
            p.msg.msg-en
                | You see?  Women naturally make better soldiers.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Wolf! Don't do this!!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-wolf
                | Wolf
                span :
            p.msg.msg-en
                | Snake, I'm near.  Can't you sense me near you?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | It's a mistake for a sniper to reveal her location.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-wolf
                | Wolf
                span :
            p.msg.msg-en
                | Is that right?  Well I'm going to send you a love letter, my dear. Do you know what that is? It's a bullet straight from my gun to your heart.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Please!!  Wolf!...Snake!...No!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-wolf
                | Wolf
                span :
            p.msg.msg-en
                | Quiet!  Don't get in our way!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Now I'm gonna pay you back for Meryl...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-wolf
                | Wolf
                span :
            p.msg.msg-en
                | You men are so weak.  You can never finish what you start... (Snake battles Sniper Wolf and defeats her.  He finds her after the battle lying in a pool of blood in the snow.  He kneels down beside her.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-wolf
                | Wolf
                span :
            p.msg.msg-en
                | I... I've... ...waited for this moment... I am a sniper. Waiting is my job... Never moving a muscle... concentrating... (Wolf coughs up blood.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-wolf
                | Wolf
                span :
            p.msg.msg-en
                | I am lung-shot. Y...you cannot save me.  Please... Just finish me quick. I am a Kurd. I have always dreamed of a peaceful place like this...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | A Kurd? So that's why you're called Wolf...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-wolf
                | Wolf
                span :
            p.msg.msg-en
                | I was born on a battlefield.  Raised on a battlefield. Gunfire, sirens and screams... they were my lullabies... Hunted like dogs day after day... driven from our ragged shelters... That... was my life.  Each morning, I'd wake up... and find a few more of my family or friends dead beside me.  I'd stare at the morning sun... and pray to make it through the day. The governments of the world turned a blind eye to our misery.  But then... he appeared. My hero... Saladin... he took me away from all that...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Saladin? ...You mean Big Boss?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-wolf
                | Wolf
                span :
            p.msg.msg-en
                | I became a sniper... hidden, watching everything through a rifle's scope.  Now I could see war, not from the inside, but from the outside, ...as an observer... I watched the brutality... the stupidity of mankind through the scope of my rifle.  I joined this group of revolutionaries... to take my revenge on the world. But... I have shamed myself and my people.  I am no longer the wolf I was born to be... In the name of vengeance, I sold my body and my soul.  Now...I am nothing more than a dog.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Wolves are noble animals.  They're not like dogs. In Yupik, the word for wolf is "Kegluneq", and the Aleuts revere them as honorable cousins. They call mercenaries like us "Dogs of War". It's true, we're all for sale at some price or another. But you're different. ...untamed... solitary.  You're no dog... You're a wolf.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-wolf
                | Wolf
                span :
            p.msg.msg-en
                | Who are you? ...Are you Saladin?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Wolf... you spared Meryl's life.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-wolf
                | Wolf
                span :
            p.msg.msg-en
                | She... she was never my real target... I don't kill for sport.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Rest easy.  You'll die as the proud wolf you are.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-wolf
                | Wolf
                span :
            p.msg.msg-en
                | I finally understand.  I wasn't waiting to kill people... I was waiting for someone to kill me.  A man like you... You're a hero. Please... set me free. (Snake slowly rises and draws his gun.  Otacon comes running across the field still in his stealth camouflage.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Why...!?  I loved you... (Wolf reaches her arm out to her side.)
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What is it?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-wolf
                | Wolf
                span :
            p.msg.msg-en
                | My gun... give it to me... (Otacon quickly scampers over to her gun and returns it to her.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-wolf
                | Wolf
                span :
            p.msg.msg-en
                | She's part of me. (She clutches it to her chest.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-wolf
                | Wolf
                span :
            p.msg.msg-en
                | Everyone's here now.  Okay, hero, set me free. (Snake slowly points his gun as Otacon turns around and puts his hands over his ears.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Goodbye... (The screen turns white as Snake fires.  Now both men are standing over her.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Snake, you said that love could bloom on a battlefield... But I couldn't save her. (Snake bends down over Wolf's body.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | What are you doing?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Returning it to it's owner.  I don't need a hankercheif.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Why?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | I don't have any more tears to shed. (Otacon starts sobbing.)
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | I'm going to the underground base.  We're out of time.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | I know.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | You'll have to protect yourself now.  Don't trust anyone.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Yeah...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | If I can't stop Metal Gear, this whoe place will probably be bombed to hell.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | ...Yeah...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | We might not meet again.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | I'll hang onto my Codec.  I wanna keep helping.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | You can leave any time.  Get a headstart... a headstart on your new life. (Snake begins to walk away.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Snake!!  What was she fighting for?  What am I fighting for!? What are you fighting for!?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | If we make it through this, I'll tell you.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Okay.  I'll be searching too.
                | (Snake heads for the Underground Base.  Eventually, when he is on a cargo elevator, heading deeper into the base, he is contacted by Master Miller.)
