extends ./layout/default.jade

block variable
    - var chapter_num = "10"
    - var chapter_title_en = "Confessions of a Dangerous Mind"
    - var chapter_title_cn = "操控者的自白"


block title
    title MGS #{chapter_num} - #{chapter_title_en} (#{chapter_title_cn})

block container
    h2.title.title-en
        span.title-num #{chapter_num}
        strong.title-en
            | #{chapter_title_en}
        strong.title-cn
            | #{chapter_title_cn}

    .section
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Sleeping late as usual, ...eh Snake?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Liquid... you're still alive...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | I won't die. ...as long as you still live.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Too bad. It looks like your revolution was a failure.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Just because you've destroyed Metal Gear doesn't mean I'm done fighting.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Fighting? What are you really after?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | A world here warriors like us are honored as we once were... as we should be.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | That was Big Boss's fantasy.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | It was his dying wish! When he was young, during the Cold War, the world needed men like us. We were valued then. We were desired. But things... are different now. With all the liars and hypocrites running the world, war isn't what it used to be... We're losing our place in a world that no longer needs us. A world that now spurns our very existence. You should know that as well as I do. After I launch this weapon and get our billion dollars, we'll be able to bring chaos and honor... back to this world gone soft. Conflict will breed conflict, new hatreds will arise. Then! ...we'll steadily expand our sphere of influence.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | But as long as there are people, there will always be war.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | But the problem... is balance. Father knew what type of a balance was best...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Is that the only reason?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Isn't it reason enough? For warriors such as us.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | I don't want that kind of world!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Ha! You lie! So why are you here then? Why do you continue to follow your orders while your superiors betray you? Why did you come here?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | ......
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Well... I'll tell you then. You enjoy all the killing, that's why.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Are you dnying it? Haven't you already killed most of my comrades?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | That was...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | I watched your face when you did it. It was filled with the joy of battle.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | You're wrong!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | There's a killer inside you... You don't have to deny it. We were created to be that way.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Created?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Les enfants terribles... the terrible children. That's what the project was called. It started in the 1970's. Their plan was to artificially create the most powerful soldier possible. The person that they chose as the model was the man known then as the greatest living soldier in the world...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Big Boss...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | But father was wounded in combat and already in a coma when they brought him in. So they created us from his cells... with a combination of 20th century analog cloning and the Super Baby Method.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Super Baby Method?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | They fertilized an egg with one of father's cells, and then let it divide into eight clone babies. Then they transferred the clones to someone's uterus and later intentionally aborted six of the fetuses to encourage strong fetal growth... You and I were originally octuplets.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Octuplets...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Yes. The other six of our brothers were sacrificed to make us. We were accomplices in murder before the day we were even born. So it was you and I. Two fertilized eggs with exactly the same DNA. But... they weren't finished yet. They used me as a guinea pig! To create a phenotype in which all of the dominant genes were expressed.... to create you. I got all of the recessive genes!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | .......
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | You took everything from me before I was even born! But... you and I aren't his only children.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | The Genome Soldiers. They too are his progeny, carrying on his genetic legacy.  But they're different. They're digital. With the completion of the Human Genome project the mysteries of humanity were laid bare...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Thanks to father?s DNA, they were able to identify more than sixty ?soldier genes? responsible for everything from strategic thinking... to the proverbial ?killer instinct?. Those ?soldier genes? were transplanted, into the membrane of Next Generation Special Forces. That?s how they became the Genome Soldiers. That?s right... The Genome Soldiers that you?ve been killing are our brothers, with the same genes as ours.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | The Genome Soldiers!?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | That's right. They are our brothers, created artificially through the alignment of nucleotides  to mimic our father's genes. They too are the product of numerous sacrifices.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Sacrifices?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Human experiments. (Footage of the Gulf War is shown)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | 1991, the Gulf War. The military secretly injected soldiers with the soldier genes. The Gulf War Syndrome that hundreds of thousands of returning soldiers complained about, was a side effect of it.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Hah. Everyone knows that the Gulf War Syndrome was caused by exposure to depleted uranium used in anti-tank rounds.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | That was just a cover story issued by the Pentagon. First they tried to say it was post-dramatic stress disorder, then chemical or biological weapons. The poison gas detection units and the anti-sarin injections. They were all just a cover up of this secret genetic experiment.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | So then... the so called Gulf War Babies that have been reported by Gulf War veterans are...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Yes... They too our are brothers and sisters.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | So the Genome Soldiers mean that the experiments were a success?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Success? Don?t be a fool! They?re a complete failure! We?re on the verge of extinction.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What!?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Have you ever heard of the Asymmetry Theory? Nature tends to favor asymmetry. Those species which have gone extinct all show signs of symmetry. The Genome Soldiers suffer from the same problem... signs of symmetry. So do I, as do you.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | !!!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | That's right. We are all on the verge of death at the genetic  level. We don't know when or what type of disease will occur. That?s why we need the old man's genetic information.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | You want Big Boss's DNA so you can save your family? It's very  touching.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | In Nature, family members don't  mate with each other. And yet they help each other to survive. Do you know why? It increases the chance that their genes will be passed on to a new generation. Altruism among blood relatives is a response to natural selection. It's called the Selfish Gene Theory.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | You're telling me that your genes are ordering you to save the Genome Soldiers?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | You can't fight your genes. It's fate. All living things are born for the sole purpose of passing on their parents' genes. That's why I'll follow what my genes tell me. And then I'm going to go beyond. In order to break the curse of my heritage. And to do that... first I will kill you.  Look behind you!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Meryl!? Is she alive?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | I'm not sure. She was alive a few hours ago. Poor girl kept calling your name.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Meryl...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Stupid woman. Falling in love with a man who doesn't even have a name...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | I have a name!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | No! We have no past, no future. And even if we did, it wouldn't be truly ours. You and I are just copies of our father, Big Boss.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Let Meryl go!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | As soon as we finished our business. We're almost out of time.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | ...You're talking about FoxDie?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | No. It seems now that the Pentagon knows that Metal Gear is destroyed, they've arrived at a decision. They won't even need a BDA (battle damage assessment). If you want the details why don't you ask your precious Colonel Campbell?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Colonel! Can you hear me?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Yes... I'm listening.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What is the Pentagon trying to do!? Colonel! Colonel! Answer me!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | The Secretary of Defense has taken over active control of this operation. He's on his way there by AWACS.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What for?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | To bomb the place.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What!?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Not only that. B-2 Bombers just lifted off from Galena Airforce Base. They're carrying B61-13 surface- piercing tactical nuclear bombs.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What?! Metal Gear is destroyed. Tell the Secretary of Defense!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | The Secretary of Defense heard that Naomi double-crossed us and he's worried about Fox Die. Now that there's no more danger of a nuclear strike from Metal Gear, he's going to do whatever's necessary to cover up the truth of what really happened here.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | He's going to drop a nuclear bomb to vaporize all the evidence along with anyone who knows anything...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Don't worry, Snake. I'll stop the nuclear strike.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | How?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | I may only be a figurehead here, but I'm still officially in  command of this mission. If I issue an order to delay the strike. It'll confuse the chain of command and at least buy you some time. It'll give you a chance to escape!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | But Colonel, if you do that...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | It's okay, Snake. ...The truth is FOX-HOUND was already the subject of an undercover investigation. Meryl was transferred to this base just before the terrorist attack... as a way of manipulating me.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Those bastards...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | I'm sorry. They forced me to cooperate in exchange for her life. You'd better get out of there, Snake.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Are you sure? ...It'll be bad for you.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Don't worry. It's the least I can do for you after all the lies.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Colonel...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | I'm ordering them to cancel the bombing run. After that there's no turning back... Aaaah! What are you doing!?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-mei-ling
                | Mei Ling
                span :
            p.msg.msg-en
                | Snake!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Mei Ling, what happened to the Colonel!?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-mei-ling
                | Mei Ling
                span :
            p.msg.msg-en
                | ...I don't believe it!!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What happened!?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-mei-ling
                | Mei Ling
                span :
            p.msg.msg-en
                | Snake, the Colonel...!!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-houseman
                | Houseman
                span :
            p.msg.msg-en
                | Roy Campbell has been relieved of duty. This is the Secretary of Defense, Jim Houseman.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Put the Colonel back on!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-houseman
                | Houseman
                span :
            p.msg.msg-en
                | He's been placed under arrest for leaking top-secret information and for the crime of high treason.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Ridiculous!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-houseman
                | Houseman
                span :
            p.msg.msg-en
                | Yes, he's a ridiculous man. He truly believed that he was in command of this operation.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | You bastard...!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-houseman
                | Houseman
                span :
            p.msg.msg-en
                | There won't be a speck of evidence left. I'm sure the President would want the same thing.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | The President ordered this?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-houseman
                | Houseman
                span :
            p.msg.msg-en
                | The President is a busy man. I have complete authority here.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | How do you plan on explaining a nuclear attack on Alaska to the media?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-houseman
                | Houseman
                span :
            p.msg.msg-en
                | Don't worry. We've prepared a convincing cover story. We'll simply say that the terrorists exploded a nuclear device.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | ...Smart. You'll be murdering everyone here. The scientists, the Genome Army, everyone...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-houseman
                | Houseman
                span :
            p.msg.msg-en
                | Donald... the DARPA Chief is already dead...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | So you didn't mean to kill the DARPA Chief after all?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-houseman
                | Houseman
                span :
            p.msg.msg-en
                | He was my friend.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | And you could care less about what happens to everybody else, huh?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-houseman
                | Houseman
                span :
            p.msg.msg-en
                | Well, if you give me the optic disc, I might consider saving them.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What are you talking about?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-houseman
                | Houseman
                span :
            p.msg.msg-en
                | Metal Gear's test data! Donald was supposed to bring it back.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | I don't have it.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-houseman
                | Houseman
                span :
            p.msg.msg-en
                | I see. Oh well that's okay... You two are an embarrassment from the 1970's. ...our country's dirty little secret. You can?t be allowed to live. Well, the bombs will be dropping soon, and you two have a lot of catching up to do. Farewell. (Houseman cuts the transmission as Liquid begins to undo Snake's hands.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | There's no way out for us. Let's finish this before the air strike. You stole everything from me. Only your death can satisfy me. Only your death can return to me what is rightly mine. She'll make a beautiful sacrifice for our final battle. Do you see this? It will be the time limit for our final battle. This nuclear module is set to detonate at the precise moment of her death. If you win... you might still be able to save her. You could enjoy one brief moment of love? before the end. If you cross this line, you?ll fall... At this it will kill even you.
                | (They fight and Snake defeats Liquid.  Liquid falls off the edge of Rex and plummets to the ground.)
