extends ./layout/default.jade

block variable
    - var chapter_num = "5.8"
    - var chapter_title_en = "Betrayal"
    - var chapter_title_cn = "背叛"


block title
    title MGS #{chapter_num} - #{chapter_title_en} (#{chapter_title_cn})

block container
    h2.title.title-en
        span.title-num #{chapter_num}
        strong.title-en
            | #{chapter_title_en}
        strong.title-cn
            | #{chapter_title_cn}


    .section
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Master?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | It's about Naomi. Turn your monitor off...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | What about Naomi?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | Damn!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Colonel, is Naomi there?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | No, she's away.  She's taking a short nap.  So what is this about Naomi?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | Okay.  Maybe we'd better let the Colonel hear this too.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Yeah.  Go on, Master...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | Well basically, Dr. Naomi Hunter is not Dr. Naomi Hunter at all.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | What!?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | I thought her story about her background sounded a little fishy, so I checked it out.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | And...?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | There is an actual Dr. Naomi Hunter, or I should say there was one... But she's not the woman we know.  The real Noami Hunter disappeared somewhere in the Middle East.  Our Naomi must have somehow gotten her identification papers.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Then who is she really?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | She must be some kind of... spy.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | A spy!?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | Yes... maybe she's been sent to sabotage this operation.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Are you saying she's with the terrorists?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | ...I don't want to believe it either.  But she is working for FOX-HOUND.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | So you think she had a part in the uprising?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | Or she could be working with some different group all together.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Different group...?  It couldn't be...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | Place her under arrest.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | What!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | She's betrayed us.  She needs to be arrested and interrogated to find out who she's with.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | If she's one of their spies, then we're really in big trouble...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What do you mean!?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Oh nothing....
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | Have you let her in on some sort of vital secret or something?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | .........
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | Does this have anything to do with the mysterious deaths of the DARPA Chief or the ArmsTech president?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | I... I have no idea.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | Anyway, we cannot allow her to participate any further in this mission.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Wait, wait a minute.  Without her, we can't complete this mission.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | I knew it.  You're hiding something.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Give me some time.  I'll try to get it out of her...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | Hurry then.  We've got to find out who she is and what she's doing here.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | I understand.  Snake, give me some time.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | I don't have any time left for you. (Snake signs off and heads into the room where Metal Gear REX is stored. Otacon calls on the Codec.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Snake... it's me.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What's wrong?  Did you find a good place to hide?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Yeah, thanks to the stealth gear.  It looks like they've finished getting Metal Gear ready.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | How do you know that?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | I overheard them talking.  Where are you now?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Right in front of Metal Gear... but it's strange.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | What is?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | There's nobody here... no guards, nobody patrolling... it's too quiet.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Maybe because they're all ready.  They said they even input the PAL codes.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What should I do?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | All we can do is use the override system that President Baker told you about.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | But I've only got one of the three keys.  And besides that, like Ocelot said, there's some trick to using the keys...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Leave it to me...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | You got some kind of plan?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Well, I'm in the computer roo right now.  I'm trying to access Baker's private files.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Baker's files?  Don't you need a password?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Of course.  But there are ways...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Are you a hacker?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Yup.  That describes me pretty well.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Does it look like you can get in?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | I don't know yet.  I'll give it a try.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | I'm counting on you... (Snake signs off.  Otacon calls later with an update.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | It's me again.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | How's it going?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Hmmm... not bad.  I just got past his third security level.  He was a pretty careful guy.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Do you think you'll break in soon?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | I've never met a system I couldn't bust into.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Okay, keep trying. (Snake signs off again and later Otacon calls again.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Snake, I did it!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | You got past security?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Bingo!!!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Great.  So whaddya got?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | I accessed the confidential Metal Gear file.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | So what about the PAL override system that Baker talked about?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | I haven't found it yet.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | That's what I need to know!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | But Snake, I found something else!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | The secret behind the new nuclear weapon!  Just as I thought, the nuclear warhead is designed to be fired from the rail gun, like a projectile... It doesn't use fuel so it isn't considered a missile. That way it can get around all sorts of international treaties.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Pretty sneaky.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Yes, but effective.  And that's not even the scariest thing about this weapon.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | I can't wait to hear this.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | It's a stealth weapon!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | You mean it won't show up on radar?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Yeah.  The truth is... they've been working on a stealth missile since the late 70's.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Why weren't they able to develope one until now?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Because of the missile's rocket propulsion system... it will be picked up by enemy satellites.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Oh yeah, that makes sense.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | But unlike a missile, the rail gun doesn't burn any propellant.  So it can't be detected by any current ballistic missile detection systems.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | An invisible nuclear warhead...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Totally impossible to intercept.  And on top of that, it's got a surface piercing warhead designed to penetrate hardened underground bases.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | We learned that lesson in the Gulf War.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | This thing could mean the end of the world!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | It's the ultimate weapon.  And from a political point of view, it avoids the problem of nuclear reduction and nuclear inspections. Colonel, is this true?  Are you listening?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | I'm listening...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | If word of this got out, it could delay the signing of the Start 3 Treaty and cause a huge international incident.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Yeah, it would be nasty.  The United States would be denounced by the UN... it could even bring the President down...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Did you know this, Colonel?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | I'm sorry...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | You've changed, Colonel.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | I won't make any excuses...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Snake, listen to me.  This new nuclear weapon... it's never actually been tested, only simulated.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | You mean they ran a computer model?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Yeah, that's why they were conducting this excercise.  They needed to get actual data to back up the simulation.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What were the results of the excercise?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | It looks like it went better than they hoped for.  But...I can't find the data anywhere on this network.  You'd think that data as important as that would be carefully recorded...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | It was.  President Baker gave me an optical disc with all of the test data.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | What!? Do you still have it?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | No, Ocelot took it from me.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Damn...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | The terrorists have replaced the dummy warhead with a real warhead. Once they input the detonation codes, they should be ready to launch.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | So you think they can do it?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Well the dummy warhead was designed to be identical to the real thing, so I think so.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Did you find out how to override it yet?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Not yet.  It must be in a separate file.  Right now, I'm looking through all of Baker's personal files.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | We're counting on you... (Snake enters the control center of the Rex hangar.  He sees Liquid and Ocelot talking.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-ocelot
                | Ocelot
                span :
            p.msg.msg-en
                | Okay. I've entered the PAL codes and disengaged the safety device. We can launch anytime.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | There's still no response from Washington. It looks like we'll have to show them that we mean business.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-ocelot
                | Ocelot
                span :
            p.msg.msg-en
                | Should I set it for Chernoton, Russia?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | No, there's been a change. The new target is...Lopnor, China.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-ocelot
                | Ocelot
                span :
            p.msg.msg-en
                | Why Boss?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | I'm sure neither you nor Mr. Gurlukovich would really like to see a nuclear bomb dropped on your Motherland, right?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Liquid!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-ocelot
                | Ocelot
                span :
            p.msg.msg-en
                | But why? There's nothing there.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Wrong. It's a nuclear test site.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-ocelot
                | Ocelot
                span :
            p.msg.msg-en
                | A nuclear test site?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | If we nuke a major population center, the game's over... But a nuclear explosion at a test site can still be concealed from the public. Meanwhile Washington will be worried about the retaliatory strike from China.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-ocelot
                | Ocelot
                span :
            p.msg.msg-en
                | That'll probably mean top secret talks between both countries'leaders...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Of course. And in the process, the President will be forced to divulge the existence of a new and highly destabilizing nuclear weapon to the Chinese. What do you think that will do to the U.S.'s reputation? Or the President's?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-ocelot
                | Ocelot
                span :
            p.msg.msg-en
                | And with the CTBT, that means that China and India... I see...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Yes. When the other countries hear about this new weapon, they'll all want to contact us. Washington won't be very happy when we start selling their own system to the highest bidders. Yes. The President will break. He will give in to our demands.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-ocelot
                | Ocelot
                span :
            p.msg.msg-en
                | Big Boss's DNA and one billion dollars...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | One billion dollars!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | That money will be used to cure our genome soldiers as well. I'm also including the FoxDie vaccine in our demands.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-ocelot
                | Ocelot
                span :
            p.msg.msg-en
                | FoxDie... It killed Octopus and the ArmsTech president... So it's true that it affects older people first. Mantis might not have been affected because he wore a mask.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Wolf wasn't infected either. Perhaps due to those tranquilizers she always took.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-ocelot
                | Ocelot
                span :
            p.msg.msg-en
                | Something to do with the adrenaline level in the blood? Or maybe it's just because this FoxDie was still experimental and they haven't worked out all the bugs yet...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | In any case, have you heard from your friend, Colonel Sergei Gurlukovich at the Spetznaz?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-ocelot
                | Ocelot
                span :
            p.msg.msg-en
                | He still has doubts about the ability of Metal Gear. He said we can talk after Metal Gear's test launch is successful.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | He is a very prudent man.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-ocelot
                | Ocelot
                span :
            p.msg.msg-en
                | There's nothing to worry about. The Colonel wants Metal Gear and the new nuclear weapon so bad he can taste it. If Russia wants to regain its position as a military superpower, they need to reinforce their nuclear arsenal. They need a nuclear weapon that can't be intercepted. Metal Gear will allow them to gain first strike capability over the rest of the world.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Their regular army is in shambles and they think they can restore their country's military power with nuclear weapons? Gurlukovich... he's no warrior... he is a politician.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-ocelot
                | Ocelot
                span :
            p.msg.msg-en
                | But he's the one who gave us the Hind and most of our other heavy firepower.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | He's got over a thousand soldiers under his command. If we joined forces we could put up quite a resistance here. Since Mantis died, the genome soldiers' brainwashing has started to wear off. I'm worried about the men's morale. An alliance with the Russians would boost that as well...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-ocelot
                | Ocelot
                span :
            p.msg.msg-en
                | What are you saying?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | We're not going anywhere. We're going to dig in here.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-ocelot
                | Ocelot
                span :
            p.msg.msg-en
                | We could still escape...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | We've got the most powerful weapon ever made and we're about to ally with Gurlukovich's forces.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-ocelot
                | Ocelot
                span :
            p.msg.msg-en
                | Are you going to fight the whole world?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | And what's wrong with that? We can launch a nuclear warhead at any target on this planet... A nuclear warhead invisible to radar. And on top of that, this base is full of spare nuclear warheads. Once we get the DNA and the money, the world will be ours!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-ocelot
                | Ocelot
                span :
            p.msg.msg-en
                | What about your promise to Colonel Gurlukovich?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | I have no interest in the revival of Mother Russia.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-ocelot
                | Ocelot
                span :
            p.msg.msg-en
                | ...You're not thinking of reviving Big Boss's dream?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | From today, ...call this place "Outer Heaven".
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Big Boss's dream...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-ocelot
                | Ocelot
                span :
            p.msg.msg-en
                | But Boss,... you're not worried about the PAL being overridden? If the code is entered again, it'll be deactivated.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | No need to worry. The DARPA Chief and the ArmsTech president are both dead.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-ocelot
                | Ocelot
                span :
            p.msg.msg-en
                | Does Snake know how the override system works?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | You interrogated him. Don't you know?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-ocelot
                | Ocelot
                span :
            p.msg.msg-en
                | He didn't have any keys on him.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Good. Then no one can stop Metal Gear now.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-ocelot
                | Ocelot
                span :
            p.msg.msg-en
                | By the way, what should we do with that woman? Want me to kill her?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Let her live. She's Campbell's niece and Snake cares for her... We'll keep her as our ace in-the-hole.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Meryl... she's alive.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Snake, I found Baker's top-secret files!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Great job.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | How's it going there?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | They've finished inputting the PAL codes. So how do we deactivate them?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Okay...y'see the override system that the president was talking about... It can also be used to input the detonation codes. Y'see if you insert the keys when the warhead is active, you deactivate it. And if you insert them when it's inactive, it becomes activated. And you can only use the keys once.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Only once, huh.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Yeah...you'd better get started. We don't have much time.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | But it takes three keys, right!? I've only got one of them!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Hold on a minute. Y'see that's the trick. You already have all three keys!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What are you talking about!?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | The card key is made of a shape memory alloy.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Shape memory alloy?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Yes. It's a material that changes shape at different temperatures. The key is made out of it!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | This card key?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Yeah. The card key changes shape at different temperatures.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | So this key is actually three keys in one...clever.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Can you see the input terminals in the center of the Control Room...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | I see them.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | Those three laptop terminals are for the emergency input. There should be a symbol on each screen... Each symbol corresponds to a different key. Input the keys in order from left to right. The left one's for the room temperature key. See the symbol? Next to that goes the low temperature key. The one on the right is the high temperature key.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Okay, I got it. First I change the shape of the card and then I input them in order, right?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-otacon
                | Otacon
                span :
            p.msg.msg-en
                | That's right. All you do is insert the card keys. After you insert the key into the module, a hard disk reads the information contained on it. Once you've finished with all three terminals, the code input process is complete. But here's the thing. You can only use the key three times. It's an emergency system and it's only meant to be used once.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | The world is riding on that key, Snake.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-ocelot
                | Ocelot
                span :
            p.msg.msg-en
                | Who's that!! (Ocelot fires a bullet at Snake.  Snake is startled and loses his grip on the key.  It tumbles over the railing and falls into the drainage ditch.)
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Damn!! The key fell in the drainage ditch!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | Snake!! This is bullet-proof glass! There's no way in! I'll enjoy watching you die!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Snake, you've got to get that key! (Snake finds the key and heads back up to the control room to input the code.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-computer
                | Computer
                span :
            p.msg.msg-en
                | PAL code number one confirmed. Awaiting PAL code number two...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Okay, that takes care of PAL code number one... Now PAL number two... freeze the key.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-computer
                | Computer
                span :
            p.msg.msg-en
                | PAL code number two confirmed. Awaiting PAL code number three...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | Snake. It's about Naomi Hunter...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Then you should talk to the Colonel. He's looking into it.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | Turn your monitor off.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Okay it's off. No one else can hear us. Go ahead.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | Sorry, but I didn't want the Colonel to hear.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Okay, so what's up?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | I've got a good friend in the Pentagon...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Yeah...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | He's the one who told me about it... It looks like the DIA recently developed a new type of assassination weapon.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | An assassination weapon?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | Snake, have you ever heard of something called "Fox Die"?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | No...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | Fox Die?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | ...Liquid and others were talking about it...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | Yeah. It's some kind of virus that targets specific people. I don't know all the details, but...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What are you trying to say?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | It's too similar.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What is!?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | The cause of death. Didn't the ArmsTech president and the DARPA Chief, I mean Decoy Octopus,... die of something that looked like a heart attack?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Yeah...?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | Well, apparently Fox Die kills its victims by simulating a heart attack.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | No... You're telling me that Naomi was behind it?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | Snake, try to remember. Did Naomi give you some kind of injection?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | ...The nanomachines.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | She was in the best position to have done it, but I don't know what her motive was.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | ...Does the Colonel know?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | I'm not sure. But he still hasn't questioned her.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Okay. I'll ask him myself. Colonel, what's new with the Naomi situation?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | I just placed Naomi under arrest.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Arrest?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | She was sending coded messages towards the Alaskan base. I didn't want to believe it, but she must be working with the terrorists.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Are you sure?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | I'm afraid so. She's being interrogated now.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What kind of interrogation?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Well...I'd like to avoid the rough stuff, but we don't even have any sodium pentathol here.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Call me if you find out anything.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | So it's true, isn't it?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Naomi...I can't believe it.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | That means the Fox Die vaccine must be around somewhere.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Listen. I've got bigger things to worry about.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | But Snake...you might be infected too, you know.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | All I can do is leave it up to the Colonel. (Snake goes to input the rest of the PAL Codes and during the process he gets a Codec call.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | Snake, can you hear me?  It's Naomi...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Naomi!? ...what the hell!?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | Campbell and the others are busy right now...I'm on a different Codec.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Naomi, is what the Colonel says true?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | ...Yes.  But not everything I said was a lie. I don't know myself. I don't know my real name or even what my parents looked like.  I bought all my identification. But my reason for getting into genetics was true.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Cause you want to know yourself, right?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | That's right. I want to know where I came from...m...my age, my race... anything.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Naomi...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | I was found in Rhodesia sometime in the 80's... a dirty little orphan...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Rhodesia? What's now known as Zimbabwe?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | Yes. Rhodesia was owned by England until 1965 and there were lots of Indian laborers around.  That's probably where I got my skin color from, but I'm not even sure about that...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Naomi, you're too worried about the past. Isn't it enough to understand who you are now?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | Understand who I am now!?  Why should I? No one else tries to understand me.  I was alone for so long... until I met my big brother and him.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Your big brother?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | Yes.... Frank Jaeger.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What!?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | He was a young soldier, when he picked me up near the Zambezi River.  I was half-dead from starvation and he shared his rations with me.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | Yes. Frank Jaeger, the man who you destroyed, was my brother and my only family.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Gray Fox?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | We survived that hell together, Frank and I.  He protected me. He's my one connection... the only connection that I have to my past.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | And he brought you back to America?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | No.  I was in Mozambique when "he" came.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Who is "he" ? ...You mean Big Boss?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | He brought us to this land of freedom , this America. But then he and my brother went back to Africa to continue the war.  And that's when it happened... You killed my benefactor and sent my brother home a cripple.  I vowed revenge and joined FOX-HOUND.  I knew it was my best chance to meet you and I prayed for the day that I ould...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | So were your prayers answered?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | Yes. I waited two long years...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | To kill me?  Is that all you cared about?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | Yes. That's right.  Two years.  You were all I thought about for two long years...like some kind of twisted obsession...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Do you still hate me?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | ...Not exactly.  I was partly wrong about you...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What about Liquid and the others?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | No. I'll have my revenge on them too.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Naomi...you didn't kill that doctor too, did you?  The one that used Gray Fox for his genome experiments...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | ...No...that was my brother.  Afterwards I covered it up and helped him hide out...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | So that Ninja...I mean Gray Fox... he's come here to kill me?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | ...I don't think so.  I think he just came here to fight you... I wasn't sure before, but now I think I understand.  A final battle with you... that's all he lives for. I'm sure of it...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | ...Fox...no... Naomi, tell me something...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | ...about FoxDie?  FoxDie is a type of retrovirus that targets and kills only specific people.  First, it infects the macrophages in the victim's body.  FoxDie contains smart enzymes, created through protein engineering.  They're programmed to respond to specific genetic patterns in the cells.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Those enzymes recognize the target's DNA?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | Right. They respond by becoming active, and using the macrophages, they begin creating TNF epsilon.  It's a type of cytokine, a peptide which causes cells to die.  The TNF epsilon is carried along the bloodstream to the heart, where they attach to the TNF receptors in the heart cells.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | And then...they cause a heart attack?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | The heart cells suffer a shock and undergo an extreme apoptosis. Then... the victim dies.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Apoptosis...you mean the heart cells commit suicide... Naomi...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | ...What?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | ...You must have programmed that thing to kill me too, right? Do I still have time? Naomi, I don't blame you for wanting me dead.  But I can't go yet. I still have a job to do.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | Listen, Snake.  I'm not the one who made the decision to use FoxDie.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | You weren't?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | You were injected with FoxDie as a part of this operation. I just wanted to let you know that... No, that's not the whole truth... the real thing that I wanted to tell you was... Snake, I... I...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-voice
                | Voice
                span :
            p.msg.msg-en
                | Hey! What are you doing!?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-naomi
                | Naomi
                span :
            p.msg.msg-en
                | Eeeek!!  Ooooh.... Snake.....
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | ...Snake, I can't allow Naomi to make any more unauthorized transmissions.  Naomi's been removed from this operation.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What happened to Naomi!? What did she mean when she said that FoxDie was a part of this operation!?  Colonel, let me talk to her!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | I won't. She's under arrest.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | ...you double crossed me!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Snake, there's no time for that!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Right now your job is to stop Metal Gear! ...Okay, Snake!? (Snake inputs the second PAL code.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-computer
                | Computer
                span :
            p.msg.msg-en
                | PAL code number two conirmed.  Awaiting PAL code number three.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Okay, there goes PAL code number two. Next comes PAL number three... warm the key. (Snake Inputs the third PAL code.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-computer
                | Computer
                span :
            p.msg.msg-en
                | PAL code number three confirmed. PAL code entry complete... Detonation code activated.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | No! Why!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-computer
                | Computer
                span :
            p.msg.msg-en
                | Ready for launch... (Snake recieves a Codec call from Master Miller.)
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | Thank you Snake.  Now the detonation code is completed. Nothing can stop Metal Gear now.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Master, what's going on?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | You found the key and even activated the warhead for us too. I really must express my gratitude.  Sorry to have involved you in that silly shape memory alloy business.  We weren't able to learn the DARPA Chief's code.  Even with Mantis' psychic powers, he couldn't read his mind.  Then Ocelot accidentally killed him during the interrogation.  In other words, we weren't able to launch the nuclear device and we were all getting a little worried.  Without the threat of a nuclear strike, our demands would never be met.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | What do you mean?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | Without the detonation codes, we had to find some other way. That's when we decided...you might prove useful, Snake.  First I thought we might get the information from you, Snake.  So I had Decoy Octopus disguise himself as the DARPA Chief.  Unfortunately Octopus didn't survive the encounter. ...thanks to FoxDie.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | You mean you had this planned from the beginning? Just to get me to input the detonation code!?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | Huh? You didn't think you made it this far by yourself, did you?
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Who the hell are you!?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | In any case, the launch preparations are complete.  Once the world glimpses the power of this weapon, the White House will have no choice but to surrender the FoxDie vaccine to me. Their ace-in-the- hole is useless now...
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Ace-in-the-hole?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | The Pentagon's plan to use you was already successful... in the torture room.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | Snake, you're the only one who doesn't know.  Poor fool.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Who are you anyway!?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | I'll tell you everything you want to know.  If you come to where I am, that is.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Where are you?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | Very close by.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Snake, that's not Master Miller!
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-master
                | Master
                span :
            p.msg.msg-en
                | Campbell, you're too late.
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Master Miller's body was just discovered at his home.  He's been dead for at least three days.  I didn't know because my Codec link with Master was cut off.  But Mei Ling said his transmission signal was coming from inside the base!
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | So who is it?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-campbell
                | Campbell
                span :
            p.msg.msg-en
                | Snake, you've been talking to...
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | ...Me... dear brother.
            p.msg.msg-cn
                | NULL
        .dialog.dialog-snake
            em.name.name-snake
                | Snake
                span :
            p.msg.msg-en
                | Liquid!? How the...!?
            p.msg.msg-cn
                | NULL
        .dialog
            em.name.name-liquid
                | Liquid
                span :
            p.msg.msg-en
                | You've served your purpose.  You may die now!
                | (Snake dashes outside and sees Liquid about to clmib intot he cockpit of Rex. He levels his SOCOM at him.)
